<% provide(:title, "Sign in") %>

<h2>Sign in</h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

    <p>
      <%= f.label :email, :style=>"padding-left:20px;padding-top:20px" %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.text_field :email %>
    </p>

    <p>
      <%= f.label :password, :style=>"padding-left:20px;padding-top:20px" %>
      &nbsp;&nbsp;<%= f.password_field :password %>
    <p>

    <p style="padding-left:20px;padding-top:20px">
      New user? <%= link_to "Sign up now!", signup_path %>
      &nbsp;&nbsp;&nbsp;
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>
    </p>

    <%= button_to "facebook_login", '/auth/facebook', :class=>"btn btn-large btn-primary"%>
  </div>
</div>