<% provide(:title, 'Upload') %>
<div class="container">
    <div class="row">
         <div class="col-md-12">
         <%= form_for(@episode) do |f| %>
             <div class="row">
               <div class="col-md-1 label-name-position">
                 <%= f.label :script, :class=>"pull-right"%>
               </div>
             </div>

              <div class="row">
                <div class="col-md-8">
                   <%= f.text_area :script, :class=> "episode-upload-box pull-right", placeholder: "Please edit your episode...", maxlength: "500", id: "word-controlled-area"%>
                </div>
              </div>
            
             <div class="row">
               <div class="col-md-1 col-md-offset-7">
                 <input type="value" id="word-num-calc" class="pull-right word-num-control-box"></input>
               </div>
             </div>

             <div class="row">
               <div class="col-md-1 label-name-position">
                <%= f.label :image, :class=>"pull-right" %>
               </div>
             </div>

             <div class="row">
               <div class="col-md-4 choose-button-position">
                 <%= f.file_field :image, value: "Choose image"%>
               </div>
               <div class="col-md-2 col-md-offset-2 upload-button-position">
                 <%= f.submit "Upload", class: "btn btn-large btn-primary pull-right" %>
               </div>
             </div>

         <% end %>
         </div>
    </div>
</div>

<%= javascript_include_tag 'count_episode' %>