<% provide(:title, 'Sign up') %>
<h2>Sign up</h2>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>

    <%= render 'shared/error_messages' %>
   
    <p>
      <%= f.label :name, :style=>"padding-left:20px;padding-top:20px"%>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :email, :style=>"padding-left:20px;padding-top:20px"%>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.label :password, :style=>"padding-left:20px;padding-top:20px"%>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.label :password_confirmation, "Confirmation", :style=>"padding-left:20px;padding-top:20px"%>
      &nbsp;
      <%= f.password_field :password_confirmation %>
    </p>

    <p style="padding-left:70px;padding-top:20px">
      <%= f.submit "Create my account", class: "btn btn-large btn-primary"%>
    </p>
    <% end %>
  </div>
</div>