<p>Name</p>
<%= @episode.name %>
<p>Script</p>
<%= @episode.script %>
<p>Image URL</p>
<%= image_tag @episode.image_url, alt: "Image" %>
<p>Good Num</p>
<%= @statistic.good_num %>
<p>Bad Num</p>
<%= @statistic.bad_num %>
<p>Comment Num</p>
<%= @statistic.comment_num %>
